section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background: var(--main-color);
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    opacity: .9;
    cursor: pointer;
    transition: all .5s
}

.btn .a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.cont {
    min-width: 40%;
}

.pCont {
    font-weight: bold;
    font-size: 25px;
    width: 75%;
    word-break: normal;
    color: #999;
}

/* Section 1 = Welcome */

.sec1 {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20vh;
    padding: 0 40px
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.slogan, .subSlogan, .chatbtn {
    margin-right: auto;
}

.slogan {
    margin: 0 auto 0 0;
    font-weight: bold;
    font-size: 55px;
    color: #444;
}

.slogan span {
    text-decoration: underline;
}

.subSlogan {
    width: 75%;
    font-weight: bold;
    font-size: 30px;
    color: #999;
    word-break: normal;
}

.imageBox {
    width: 60%;
    height: 60%;
    margin: 0 0 0 auto;
}

/* Arrow down style */

.box {
    margin-top: 10px;
}

.box span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #444;
    border-right: 2px solid #444;
    transform: rotate(45deg);
    animation: animate 1.2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -.2s;
}

.box span:nth-child(3) {
    animation-delay: -.4s;
}

/* Arrow Down animate */

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-8px, -8px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(8px, 8px);
    }
}

@media screen and (max-width: 1180px) {
    .slogan {
        font-size: 45px;
    }
    .subSlogan {
        font-size: 28px;
    }
    .chatbtn .a {
        font-size: 40px;
    }
}

@media screen and (max-width: 1120px) {
    .sec1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxContent {
        margin: 0;
    }
    .imageBox {
        display: none;
    }
    .slogan {
        margin: 0 0 0 0;
        text-align: center;
        font-size: 55px;
    }
    .subSlogan {
        margin: 10px 0 0 0;
        text-align: center;
        font-size: 32px;
    }
    .pCont {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .sec1 {
        padding: 0 40px
    }
    .slogan {
        font-size: 45px;
    }
    .subSlogan {
        font-size: 28px;
    }
    .pCont {
        font-size: 22px;
    }
}

@media screen and (max-width: 560px) {
    .slogan {
        font-size: 40px;
    }
    .subSlogan {
        width: 100%;
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .slogan {
        font-size: 35px;
    }
    .subSlogan {
        width: 100%;
        font-size: 23px;
    }
}

/* Section 2 = About */

.secAbt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
    margin-bottom: 40px;
}

.secAbt h1 {
    color: var(--main-color);
    font-size: 60px;
    line-height: 20px;
    margin: 0 auto 60px 40px;
}

.abtBox {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 40px;
}

.abtBox .abtCont {
    width: 530px;
    position: relative;
    height: auto;
    margin: 0 0 40px 0;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
    box-shadow: 1px -4px 20px -5px #999;
}

.abtBox .abtCont h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: var(--main-color);
    padding: 0 20px;
}

.abtBox .abtCont p {
    width: auto;
    padding: 20px;
    font-size: 25px;
    background: #FFF;
    color: #545454;
    text-align: left;
}

.shadow {
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: absolute;
    bottom: -.9375rem;
    left: -.9375rem;
    padding-left: 40%;
    width: 70%;
    height: 100%;
    z-index: -1;
    background-color: var(--main-color);
}

@keyframes blink {
    0% {
        opacity: 0
    }
    49% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

/* .sec2,
.sec4 {
    padding: 0 40px;
    height: 100vh;
}

@media screen and (max-width: 1120px) {
    .sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 40px 0;
    }

    .sec2 .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .sec2 .cont .pCont {
        margin: 0;
        text-align: center;
    }
} */

/* Section 3 = Philosophy */

.sec3 {
    padding: 0 40px;
    height: 100vh;
    justify-content: flex-end;
}

.sec3 .cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sec3 h2, .sec3 .pCont {
    text-align: right;
    margin-left: auto;
}

.sec3 .btn {
    margin-left: auto;
}

@media screen and (max-width: 1120px) {
    .sec3 {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: center;
        height: auto;
        margin: 20vh 0;
    }
    .mural .muralCont {
        width: 100%;
    }
    .sec3 .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .sec3 .cont h2 {
        margin-left: 0;
    }
    .sec3 .cont .pCont {
        margin: 0;
        text-align: center;
    }
    .sec3 .cont .btn {
        margin: 15px 0 0 0;
    }
}

@media screen and (max-width: 900px) {
    .mural .muralCont {
        flex-direction: column;
        text-align: center;
    }
    .mural .muralCont .phrase {
        width: 100%;
    }
    .mural .muralCont:last-child {
        margin-top: 40px;
        flex-flow: column;
    }
    .mural .muralCont:last-child .phrase {
        text-align: center;
    }
}

/* ======= */

.mural {
    width: 80%;
}

.muralCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@import 'https://fonts.googleapis.com/css?family=Reenie+Beanie';
.postit {
    line-height: 1;
    text-align: center;
    width: 275px;
    margin: 25px;
    min-height: 250px;
    max-height: 250px;
    padding-top: 10px;
    position: relative;
    border: 1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE052;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #FFE052 81%, #FFE052 82%, #FFE052 82%, #ffffc6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #FFE052), color-stop(82%, #FFE052), color-stop(82%, #FFE052), color-stop(100%, #ffffc6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #FFE052 81%, #FFE052 82%, #FFE052 82%, #ffffc6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #FFE052 81%, #FFE052 82%, #FFE052 82%, #ffffc6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #FFE052 81%, #FFE052 82%, #FFE052 82%, #ffffc6 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #FFE052 81%, #FFE052 82%, #FFE052 82%, #ffffc6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE052', endColorstr='#ffffc6', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-10deg);
    /* Firefox */
    -moz-transform: rotate(-10deg);
    /* IE */
    -ms-transform: rotate(-10deg);
    /* Opera */
    -o-transform: rotate(-10deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.postit p {
    font-family: 'Reenie Beanie';
    font-size: 3.5em;
    margin: auto 0;
    font-weight: bold;
}

.phrase {
    word-break: normal;
    height: 100%;
    width: 50%;
    font-family: 'Reenie Beanie';
    font-size: 2.1rem;
}

.sec4 {
    padding: 0 40px;
}

@media screen and (max-width: 1120px) {
    .sec4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 20vh 0;
    }
    .sec4 .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .sec4 .cont .pCont {
        margin: 0;
        text-align: center;
    }
}

/* ======= */

.video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video img {
    width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .video img {
        width: 320px;
    }
}

/* ======= */