section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

h2 {
    color: var(--main-color);
    font-size: 45px;
    line-height: 20px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background: var(--main-color);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    opacity: .9;
    cursor: pointer;
    transition: all .5s
}

.btn:hover {
    opacity: 1;
}

.cont {
    min-width: 50%;
}

.pCont {
    font-weight: bold;
    font-size: 25px;
    width: 75%;
    word-break: normal;
    color: #999;
}

/* ======= */

.sec1{
    width: 100%;
    margin-bottom: 20vh; 
    padding: 0 45px
}

.boxContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.slogan,
.subSlogan {
    margin-right: auto;
}

.slogan {
    margin: 0 auto 0 0;
    font-weight: bold;
    font-size: 55px;
    color: #444;
}

.subSlogan {
    width: 75%;
    font-weight: bold;
    font-size: 30px;
    color: #999;
    word-break: normal;
}

.imageBox {
    margin: 0 0 0 auto;
}

/* ============== */

.sec2,
.sec4 {
    padding: 0 45px;
    height: 100vh;
}

/* ====== */
.sec3 {
    padding: 0 45px;
    height: 100vh;
    justify-content: flex-end;
}

.sec3 .cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sec3 h2,
.sec3 .pCont
{
    text-align: right;
    margin-left: auto;
}

.sec3 .btn {
    margin-left: auto;
}

/* ======= */
.video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video img{
    width: 300px;
    margin: 0 auto;
}


