.secVid {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vidCont {
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vidCont .vidSec {
    margin: 50px 0 0 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vidCont .vidSec .vidFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.vidCont .vidSec .vidFrame iframe {
    width: 550px;
    height: 315px;
}

.vidCont .vidSec .vidDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vidCont .vidSec .vidDesc h4 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.vidCont .vidSec .vidDesc p {
    font-weight: bold;
    font-size: 20px;
    color: #999;
    text-align: center;
}

@media screen and (max-width: 1040px) {
    .vidCont .vidSec {
        flex-direction: column-reverse;
        align-items: center;
    }

    .vidCont .vidSec .vidFrame {
        margin: 0;
    }

    .vidCont .vidSec .vidDesc {
        width: 80%;
        margin-bottom: 60px;
    }

    .vidCont .vidSec .vidDesc h4 {
        font-size: 35px;
    }

    .vidCont .vidSec .vidDesc p {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .vidCont .vidSec .vidDesc {
        width: 90%;
        margin-bottom: 45px;
    }

    .vidCont .vidSec .vidFrame iframe {
        width: 500px;
        height: 265px;
    }
}

@media screen and (max-width: 555px) {
    .vidCont .vidSec .vidDesc h4 {
        font-size: 30px;
    }

    .vidCont .vidSec .vidDesc p {
        font-size: 16px;
    }

    .vidCont .vidSec .vidFrame iframe {
        width: 400px;
        height: 210px;
    }
}

@media screen and (max-width: 500px) {
    .vidCont .vidSec .vidFrame iframe {
        width: 350px;
        height: 180px;
    } 
}